extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Register 
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();") 
            p.errorMessage #{errorMessage}
            input(type="text", name="firstName", placeHolder="First name", value=firstName, required="")
            input(type="text", name="lastName", placeHolder="Last name", value=lastName,required="")
            input(type="text", name="userName", placeHolder="Username", value=userName,required="")
            input(type="email", name="email", placeHolder="Email", value=email,required="")
            input#password(type="password", name="password", placeHolder="Password", required="")
            input#passwordConf(type="password", name="passwordConf", placeHolder="Confirm password", required="")
            input(type="submit", value="Login")

        a(href="/login") Already have an account? Login here. 
        
    script. 
        const passwordField = document.getElementById("password");
        const passwordConfirmField = document.getElementById("passwordConf");
         
        const form = document.getElementById("registerForm");

        function validateForm(){
            if(passwordField.value != passwordConfirmField.value){
                alert("Passwords don't match.");
            }else{
                form.submit();
            }
        }




            
